@CHARSET "UTF-8";

.message {
    margin: 5px 15px 5px 24px;
    list-style-type: circle;
}
/*
li:nth-child(even).message {
    background: #CCC
}*/

.message-time {
    float: right;
}
/*
.message :last-of-type {
    color:green;
}*/